# .gitignore
*.bak
*.sqlproj
*.publish.xml
*.dacpac
*.bacpac
*.publish/
node_modules/
PublishProfiles/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.suo
*.user
*.userosscache
*.sln.docstates
*.tss
*.tssess
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
*.log
*.LOG
*.log.*
*.swp
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
